---
import HTML from '../layouts/HTML.astro';
import Links from '../components/Links.svelte';
import { supabase } from '../lib/supabaseClient';
---

<HTML>
  <div class="container mx-auto max-w-5xl my-20">
    <Links client:load />
  </div>
</HTML>
