---
import HTML from '../../layouts/HTML.astro';
import supabase from '../../../lib/supabaseClient';
import type { Session, User } from '@supabase/supabase-js';

const { cookies, redirect } = Astro;

let responseData: { user: User | null; session: Session | null } = {
  session: null,
  user: null,
};

if (!import.meta.env.DEV) {
  const accessToken = cookies.get('sb-access-token');
  const refreshToken = cookies.get('sb-refresh-token');

  if (!accessToken || !refreshToken) {
    return redirect('/admin/signin');
  }
  supabase.auth
    .setSession({
      refresh_token: refreshToken.value,
      access_token: accessToken.value,
    })
    .then(({ data, error }) => {
      responseData = data;
      if (error) {
        cookies.delete('sb-access-token', {
          path: '/',
        });
        cookies.delete('sb-refresh-token', {
          path: '/',
        });

        return redirect('/admin/signin');
      }
    });
}
---

<HTML>
  <div class="container mx-auto max-w-5xl my-20">
    <p>We are happy to see you here</p>
    <form action="/api/auth/signout">
      <button type="submit">Sign out</button>
    </form>
  </div>
</HTML>
